<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
    />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <title>Gründerideen</title>
  </head>
  <body>
    <div class="ui top menu ">
      <div class="ui container">
        <a href="/posts">
          <div class="ui header item">
            <i class="briefcase icon"></i>Gründerideen
          </div>
        </a>
        <a class="item" href="">Geld</a>
        <a class="item" href="">Die besten Tools</a>
        <a class="item" href="/posts/create">Beitrag erstellen</a>
        <div class="ui right menu borderless">
          <a class="item" href="/posts/create"
            ><div class="ui button basic teal">Registrieren</div></a
          >
          <a id="login" class="item" href="/posts/create"
            ><div class="ui button teal">Login</div></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
