.ui.main.container {
  margin-top: 3em;
  padding-top: 0;
}

.detail.ui.container.segment {
  margin-bottom: 14px;
}

#login {
  padding-right: 0px;
}

.ui.right.menu.borderless {
  border: none;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
